.slide-nav{
    position: fixed;
    width: 8.4375rem /* 135/16 */;
    top: 8.4375rem /* 135/16 */;
    left: 0;
    bottom: 0;
    z-index: 100;
    cursor: pointer;
    box-sizing: border-box;
    background: blue;
  }