.slide-nav{
    position: fixed;
    width: 1.35rem;
    top: 2.2rem;
    left: 0;
    bottom: 0;
    z-index: 100;
    cursor: pointer;
    box-sizing: border-box;
    background: #000;
	font-size: .2rem;
	ul{
		width: 100%;
		height: 100%;
		display: table;
		li{
			display: table-row;
			span{
				color: #00fcff;
				display: table-cell;
				vertical-align: middle;
			}
			&.router-link-active{
				background: url(../assets/navbg.png) repeat-y;
				background-size: contain;
			}
			&:hover{
				span{
					color:#fff;
				}
			}
		}
	}
}